<div class="container">
    <!-- Павел Беляев, [12.08.19 18:42]
        Господа, демо подложку не забудьте пожалуйста
        Лучше из 2 частей -->

    {% if (schedule_banners.getFullBanner()) %}
        <!-- Полное брендирование (демо подложка) -->
        <div class="branding">
            <div class="branding__part branding__part--full">
                <a href="{{ banners.getBanners().link_2 }}">
                    <img src="{{ banners.getBanners().banner_2.path }}" alt="">
                </a>
            </div>
        </div>
    {% endif %}

    <!-- Двойное брендирование (демо подложка из 2х частей) -->
    <div class="branding">
        {% if (schedule_banners.getLeftBanner()) %}
            <div class="branding__part branding__part--left">
                <a href="{{ schedule_banners.getLeftBanner().link }}"><img src="{{ schedule_banners.getLeftBanner().image.path }}" alt=""></a>
            </div>
        {% endif %}
        {% if (schedule_banners.getRightBanner()) %}
            <div class="branding__part branding__part--right">
                <a href="{{ schedule_banners.getLeftBanner().link }}"><img src="{{ schedule_banners.getLeftBanner().image.path }}" alt=""></a>
            </div>
        {% endif %}
    </div>

    <div class="container__content">
        {% include 'translation.twig' %}
        {% include 'onair.twig' %}
        {% include 'radio.twig' %}
    </div>
</div>
